 body {
   font-family: "Poppins", sans-serif;
   margin: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(135deg, #74ebd5, #9face6);
 }

 .task-container {
   max-width: 400px;
   width: 100%;
   padding: 40px;
   border-radius: 15px;
   background: #e4f2f9;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
   text-align: center;
   transition: transform 0.3s ease;
 }

 .task-container:hover {
   transform: scale(1.02);

 }

 h2 {
   margin-bottom: 20px;
   font-size: 24px;
   color: #333;
   letter-spacing: 1px;
 }

 .input-area {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
 }

 input[type="text"] {
   width: 70%;
   padding: 12px;
   font-size: 16px;
   border: 2px solid #ddd;
   border-radius: 8px;
   outline: none;
   transition: 0.3s;
 }

 input[type="text"]:focus {
   border-color: #74ebd5;
   box-shadow: 0 0 5px rgba(116, 235, 213, 0.6);
 }

 button {
   padding: 12px 18px;
   font-size: 16px;
   margin-left: 8px;
   border: none;
   border-radius: 8px;
   background: linear-gradient(135deg, #667eea, #764ba2);
   color: white;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s;
   cursor: pointer;
 }

 Rbutton {
   background-color: #A784C2;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 10px;
   cursor: pointer;
   border: none;
   border-radius: 8px;
   transition-duration: 0.4s;
 }

 button:hover {
   background: linear-gradient(135deg, #764ba2, #667eea);
   transform: translateY(-2px);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 }

 ul {
   margin: 0;
   padding-left: 0;
   list-style: none;
   text-align: left;
   cursor: pointer;
 }

 li {
   background: #f9f9f9;
   padding: 12px;
   margin: 8px 0;
   border-radius: 8px;
   font-size: 18px;
   color: #444;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   transition: 0.3s;
 }

 li:hover {
   background: #eef2f7;
   transform: translateX(5px);
 }